body{
        display: flex;
        justify-content: flex-start;
}
.main{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 81%;
        height: 100%;
        background-color: #F8F9FA;
}
.sidenav{
        width: 345.6px;
        height: 2300px;
        background-color: #ECEDF4;
}
header{
        width: 100%;
        height: 132px;
        background-color: white;
}
.header__top{
        height: 75px;
        background-color: #f8f9fa;
        display: flex;
        align-items: center;
}
.header__top-wrapper{
        width: 87%;
        padding-left: 4%;
        display: flex;
        justify-content: space-between;
}
.header__select{
        width: 432px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 3%;
}
.header__select-button{
        height: 32px;
        font-size: 12px;
        background-color: #61d5df;
        color :white;
        border-radius: 4px;
        font-weight: bold;
        border: none;
        cursor: pointer;
}
.header__select-line{
        height: 20px;
        margin-left: 10px;
        margin-right: 10px;
        width: 1px;
        background-color: #979797;;
}
.header__select-p{
        font-size: 13px;
}
.header__search{
        width: 1008px;
        display: flex;
        justify-content: space-between;
        align-items: center;
}
.header__search-input-wrapper{
        width: 508px;
        height: 35px;
        display: flex;
        align-items: center;
}
.header__search-input{
        height: 100%;
        width: 90%;
        border-left: 1px solid rgba(95,102,115,.1);
        border-top: 1px solid rgba(95,102,115,.1);
        border-bottom: 1px solid rgba(95,102,115,.1);
        border-right: none;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        outline: none;
}
.header__search-input::placeholder{
        color: black;
        padding-left: 20px;
        font-size: 12px;
}
.header__search-button{
        height: 40px;
        font-size: 12px;
        background-color: #61d5df;
        color :white;
        border-radius: 4px;
        font-weight: bold;
        border: none;
        cursor: pointer;
        margin-left: 20px;
}
.search-button{
        width: 10%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid rgba(95,102,115,.1);
        border-top: 1px solid rgba(95,102,115,.1);
        border-right: 1px solid rgba(95,102,115,.1);
        background-color: white;
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
        padding: 1px 2px;
}
.search-button img{
        width: 20px;
        height: 20px;
        transform: rotate(90deg);
        cursor: pointer;
}
.header__search-icon{
        font-size: 14px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        border: 2px solid #49547d!important;
        width: 24px;
        height: 24px;
        background-color: #fdfcfc;
        color: #49547d;
        border-radius: 50%;
        font-weight: bolder;
        outline: 0;
        cursor: pointer;
}
.header__bottom{
        height: 47px;
        width: 100%;
        display: flex;
        border-bottom:  1px solid #dbe0f3;
}
.header__sort{
        width: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 4%;
}
.header__sort-icon{
        width: 15px;
        height: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
}
.header__sort-i{
        width: 15px;
        height: 2px;
        background-color: #B6B9CA;;
}
.header__sort-i-1{
        width: 11px;
        height: 2px;
        background-color: #B6B9CA;;
}
.header__sort-i-2{
        width: 7px;
        height: 2px;
        background-color: #B6B9CA;;
}
.header__sort-p{
        font-size: 16px;
        color: #a8a4a4;
}
.header__sort-select{
        border: none;
        font-size: 16px;
        color: #a8a4a4;
        outline: none;
}
.header__sort-option{
        color: #a8a4a4;
        font-size: 14px;
}
.catalog{
        width: 99%;
        padding-left: 1%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 15px;
}
.catalog__prod{
        flex: 1 355px;
        max-width: 355px;
        height: 280px;
        border-radius: 8px;
        border: 1px solid #e4e5ec;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
}
.catalog__title{
        width: 95%;
        padding-left: 5%;
        height: 40px;
        display: flex;
        align-items: center;
}
.catalog__price{
        width: 95%;
        padding-left: 5%;
        height: 30px;
        border-top: 1px solid #e4e5ec;
        display: flex;
        align-items: center;
}
.catalog__img{
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
}
.catalog__img img{
        max-width: 70%;
        max-height: 80%;
}
